.widget {
	margin-bottom:20px;
}
.sugestaoitem {
	height:40px;
	line-height: 40px;
}
.post_area {
	border-bottom:1px solid #CCC;
}
.post_area textarea {
	height:100px;
}
.postitem {
	border-bottom:1px solid #CCC;
	padding-top:10px;
	padding-bottom:10px;
}
.postitem_texto {
	background-color:#EEE;
	padding:10px;
}
.postitem_comentario {
	display:none;
}

h2 {
	position:relative;
	top:50%;
	left:50%;
	margin-top:-10px;
	margin-left:-500px;
}

#centro {
	width:20%;
	height:20%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-90px;
	margin-left:-90px;
}

th.next {
	background-color: #357ebd;
}

th.prev {
	background-color: #357ebd;
}

.title {
	font-size: 15px;
	font-weight: bold;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}